Adafruit-Blinka==8.46.1
adafruit-circuitpython-bh1750==1.1.10
adafruit-circuitpython-busdevice==5.2.9
adafruit-circuitpython-connectionmanager==3.1.1
adafruit-circuitpython-register==1.9.18
adafruit-circuitpython-requests==4.1.4
adafruit-circuitpython-typing==1.10.3
Adafruit-PlatformDetect==3.72.1
Adafruit-PureIO==1.1.11
binho-host-adapter==0.1.6
board==1.0
colorzero==2.0
gpiozero==2.0.1
lgpio==0.2.2.0
numpy==1.26.4
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
pillow==10.4.0
pyftdi==0.55.4
pyserial==3.5
pytz==2024.1
pyusb==1.2.1
RPi.GPIO==0.7.1
rpi_ws281x==5.0.0
sysv_ipc==1.1.0
tflite-runtime==2.14.0
typing_extensions==4.12.2
